body {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    margin: 0%;
}

h1 {
    color: rgb(95, 34, 209);
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    }

h2 {
    color: rgb(171, 52, 226);
    font-size: 40px;
    font-style: normal;
    text-align: center;
    background-color: aliceblue;
    padding: 0;
    margin: 10px;
    border-bottom: 3px solid rgb(171, 52, 226);
    clear: left;
    line-height: 1;
 }

 h2 img {
    padding: 10px 30px;
    margin: 10px;
 }

h3 {
    color: rgb(157, 23, 214);
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.hlavicka img {
    float: left;
    overflow: auto;
    width: 250px;
    padding: 10px;
    margin: 0 20px 20px 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(157, 23, 214);
    border-width: 5px;
}

.profil p {
    padding: 20px 100px;
    margin: 0;
}
.odkaznazivotopis {
    text-align: right;
    border-bottom: 1px solid rgb(171, 52, 226);
    margin: 20px 0;
}

.paticka {
    text-align: center;
    color: rgb(171, 52, 226);
    background-color: aliceblue;
    padding: 0 10px;
    margin: 0;
}

p {
    text-align: justify;
}

table {
    border-spacing: 0;
}

td {
    text-align: left;
    border-bottom: 1px solid rgb(171, 52, 226);
    padding: 15px 20px;
    margin: 0 20px;
}

.ikony {
    font-weight: 100;
    padding: 0%;
    margin: 0%
}

.menu {
    margin: 0%;
    padding: 0%;
    overflow: auto;
    text-align: center;
    background-color: aliceblue;
}

.menu img {
    overflow: auto;
}
.menu li {
    display: inline-block;
}

.menu a {
    display:inline-block;
    color: rgb(196, 43, 243);
    text-decoration: none;
    padding: 10%;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #91f1f5;
}
